{% extends 'Base_template.html' %}


{% block title %}
    Критерий
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Критерий: {{ field.name }}</h1>
        <p>Показатели всех пользователей, по выбранному критерию.</p>
        <p>Значение: {{ field.description }}</p>
        {% if messages %}
            <ul class="messages list-group mb-3">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST" action="{% url "category_for_checking" field.id %}">
            {# На случай реализации кнопки "Сохранить всё" #}
            {# <input type="submit" value="Сохранить всё" name="save_all" class="btn btn-primary my-3"> #}
            <div class="row">
                <div class="col-4">
                    <h4>ФИО</h4>
                </div>
                <div class="col">
                    <div class="row">

                        <div class="col-5">
                            <h4>Категории</h4>
                        </div>

                        <div class="col">
                            <h4>Значение</h4>
                        </div>
                    </div>
                </div>
            </div>
            {% if users|length != 0 %}
                {% for user_lkp, categories_values, index in users %}
                    <div class="row mb-3">
                        <div class="col-4">
                            <a href="{% url 'portfolio' user_lkp.id %}" target="_blank" title="Открыть портфолио">
                                {% if user_lkp.full_name != None %}
                                    {{ user_lkp.full_name }}
                                {% else %}
                                    {{ user_lkp.username }}
                                {% endif %}
                            </a>
                        </div>
                        <div class="col">
                            {% for category_value in categories_values %}
                                <div class="row mb-1">

                                    <div class="col-5">
                                        {{ category_value.category.name }}
                                    </div>

                                    <div class="col">
                                        <div class="inspector-value-form"
                                             data-userid="{{ user_lkp.id }}"
                                             data-valueid="{{ category_value.value.id }}"
                                             data-value="{{ category_value.value.value }}"
                                             data-comment="{{ category_value.value.comment }}"
                                             data-commentable="{{ form.commentable }}">
                                            <form method="POST" action="{% url "category_for_checking" field.id %}">
                                                <div class="row">
                                                    {% csrf_token %}

                                                    <input type="hidden"
                                                           name="form_length"
                                                           value="{{ users|length }}">
                                                    <input type="hidden"
                                                           value="{{ index }}-{{ forloop.counter }}"
                                                           name="form_id">

                                                    <div class="col">
                                                        <input type="text"
                                                               value="{{ category_value.value.value }}"
                                                               name="value-{{ index }}-{{ forloop.counter }}"
                                                               class="form-control">
                                                    </div>

                                                    <input type="hidden"
                                                           name="category_id-{{ index }}"
                                                           value="{{ category_value.category.id }}">
                                                    <input type="hidden"
                                                           name="user_id-{{ index }}"
                                                           value="{{ user_lkp.id }}">
                                                    <div class="col">
                                                        <input type="submit"
                                                               class="btn btn-primary mx-3"
                                                               value="Сохранить"
                                                               name="save_one">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p><i>Показатели не найдены. Возможно, еще никто не заполнил данный критерий.</i></p>
            {% endif %}
            {% if users|length >= 10 %}
                {# На случай реализации кнопки "Сохранить всё" #}
                {# <input type="submit" value="Сохранить всё" name="save_all" class="btn btn-primary my-3"> #}
            {% endif %}
        </form>
    </div>
{% endblock %}