{% extends "app.html" %}

{% block content %}
    <div class="container">
        <h1>Критерии</h1>
        <p>Критерии, доступные для проверки вам.</p>

        {% if fields|length != 0 %}

            <div class="dropdown show mb-3">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                    Отчет (.xlsx)
                </a>
                <div class="dropdown-menu">
                    {% for category in categories %}
                        <a href="#"
                           class="dropdown-item">
                            {{ category.name }}
                        </a>    <!--{{ route ('forms.reportCategoryInspector', [
                    'form' = form,
                    'category' = category,
                    'inspector' = \Illuminate\Support\Facades\Auth::user()->inspector_id]) }} -->
                    {% endfor %}
                </div>
            </div>
            <div class="list-group">
                {% for field in fields %}
                <a href="#">> class="list-group-item list-group-item-action">          <!--{{ route('fields.show', ['field' => $field->id]) }}-->
                    {{ field.name }}
                </a>
                {% endfor %}
            </div>
        {% else %}
            <p><i>Критерии не найдены.</i></p>
        {% endif %}
    </div>
{% endblock %}