{% extends "Base_template.html" %}


{% block title %}
    Отчет
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Критерии</h1>
        <p>Критерии, доступные для проверки вам.</p>

        {% if fields.length != 0 %}
            <div class="dropdown nav-item">
                <a id="dropdownMenuLink" class="btn btn-primary dropdown-toggl" href="#" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">

                    Отчет (.xlsx)
                </a>
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% for category in categories %}
                     <li>
                        <a class="dropdown-item" href="#">
                            {{ category.name }}
                        </a>
                      </li>
                    {% endfor %}
                 </ul>
            </div>

            <div class="list-group">
                {% for field in fields %}
                <a href="{% url 'show' field.id %}" class="list-group-item list-group-item-action">
                    {{ field.name }}
                </a>
                {% endfor %}
            </div>
        {% else %}
            <p><i>Критерии не найдены.</i></p>
        {% endif %}
    </div>
{% endblock %}