{% extends "Base_template.html" %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        <h1>Профиль</h1>
        {% if messages %}
            <ul class="messages list-group">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if user.position_id == None %}
            <div class="alert alert-warning my-3">
                Необходимо указать должность.
            </div>
        {% endif %}

        <form method="post" action="{% url 'edit' %}">
            {% csrf_token %}

            <div class="form-group row">
                <label for="position_id"
                       class="col-md-4 col-form-label text-md-right">Должность</label>

                <div class="col-md-6">
                    <select id="position_id"
                            class="form-control m-2"
                            name="position_id"
                            required
                            autofocus>
                        <option
                                {% if user.position_id == None %}
                                    selected
                                {% endif %}
                                    value>
                            Укажите должность
                        </option>
                        {% for position in positions %}
                            <option
                                    {% if user.position_id == position.id %}
                                        selected
                                    {% endif %}
                                        value="{{ position.id }}">
                                {{ position.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="departament_id"
                       class="col-md-4 col-form-label text-md-right">Подразделение</label>

                <div class="col-md-6">
                    <select id="departament_id"
                            class="form-control m-2"
                            name="departament_id"
                            required
                            autofocus>
                        <option
                                {% if user.department_id == None %}
                                    selected
                                {% endif %}
                                    value>
                            Укажите подразделение
                        </option>
                        {% for department in departments %}
                            <option
                                    {% if user.department_id == department.id %}
                                        selected
                                    {% endif %}
                                        data-level="{{ department.level }}"
                                        value="{{ department.id }}">
                                {{ department.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="orcid"
                       class="col-md-4 col-form-label text-md-right">ORCID</label>
                <div class="col-md-6">
                    {% if user.orcid != None %}
                        <input id="spin"
                               class="form-control m-2" name="orcid" value="{{ user.orcid }}"
                               placeholder="Напишите, если у вас есть">
                    {% else %}
                        <input id="spin"
                               class="form-control m-2" name="orcid" placeholder="Напишите, если у вас есть">
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <label for="wosrid"
                       class="col-md-4 col-form-label text-md-right">WOS Researcher ID</label>
                <div class="col-md-6">
                    {% if user.wosrid != None %}
                        <input id="spin"
                               class="form-control m-2" name="wosrid" value="{{ user.wosrid }}"
                               placeholder="Напишите, если у вас есть">
                    {% else %}
                        <input id="spin"
                               class="form-control m-2" name="wosrid" placeholder="Напишите, если у вас есть">
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <label for="said"
                       class="col-md-4 col-form-label text-md-right">Scopus Author ID</label>
                <div class="col-md-6">
                    {% if user.said != None %}
                        <input id="spin"
                               class="form-control m-2" name="said" value="{{ user.said }}"
                               placeholder="Напишите, если у вас есть">
                    {% else %}
                        <input id="spin"
                               class="form-control m-2" name="said" placeholder="Напишите, если у вас есть">
                    {% endif %}
                </div>
            </div>

            <div class="form-group row">
                <label for="spin"
                       class="col-md-4 col-form-label text-md-right">SPIN</label>
                <div class="col-md-6">
                    {% if user.spin != None %}
                        <input id="spin"
                               class="form-control m-2" name="spin" value="{{ user.spin }}"
                               placeholder="Напишите, если у вас есть">
                    {% else %}
                        <input id="spin"
                               class="form-control m-2" name="spin" placeholder="Напишите, если у вас есть">
                    {% endif %}
                </div>
            </div>

            <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                    <input type="submit"
                            class="btn btn-primary m-2" value="Сохранить">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        (() => {
            const positionSelect = document.getElementById('position_id');
            const departmentSelect = document.getElementById('departament_id');

            // если директор, показывать институты, иначе кафедры
            function onPositionChange() {
                const selectedPosition = positionSelect.options[positionSelect.selectedIndex].value;
                // для каждой option
                for (let i = 0; i < departmentSelect.options.length; i++) {
                    let option = departmentSelect.options[i];
                    // если должность не выбрана
                    if (selectedPosition === '') {
                        // скрыть все кроме дефолта
                        if (option.dataset.level !== undefined) {
                            option.style.display = 'none';
                            option.selected = false;
                        }
                        // если должность - директор
                    } else if (selectedPosition === '1') {
                        // показать дефолт и институты
                        if (option.dataset.level === '1' || option.dataset.level === undefined) {
                            option.style.display = '';
                        } else {
                            option.style.display = 'none';
                            option.selected = false;
                        }
                        // если должность любая кроме директора
                    } else {
                        // показать дефолт и кафедры
                        if (option.dataset.level === '2' || option.dataset.level === undefined) {
                            option.style.display = '';
                        } else {
                            option.style.display = 'none';
                            option.selected = false;
                        }
                    }
                }
            }

            positionSelect.addEventListener('change', onPositionChange);
            onPositionChange();
        })()
    </script>
{% endblock %}