{%extends 'Base_template.html' %}

{% block body %}


    <div class="container">
        <h1>Показатели эффективности</h1>
        {% if forms|length != 0 %}
        <div class="row">
            {% for form in forms %}
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ form.name }}</h5>
                        <!--    @php                                                                                                               
                                $formPositionsId = Arr::pluck($form->positions->toArray(), 'id');
                                $usersForm = array_search(Auth::user()->position_id, $formPositionsId) !== false;    
                            @endphp -->
                            {% if usersForm %}        <!-- если должность пользователя и формы совпадает-->                             
                                <a href="#" class="card-link">Заполнить</a> <!--  route('forms.edit', ['form' => $form->id])  -->
                            {% endif %}
                            {% if user.inspector_id %} <!-- если пользователь может редактировать значения -->
                                <a href="#" class="card-link">Проверить</a> <!--  route('fields.index', ['form' => $form->id])  -->
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p><i>Анкеты за активный отчетный период не найдены.</i></p>
        {% endif %}
    </div>
{% endblock  %}
