{% extends "Base_template.html" %}

{% block title %}
    Показатели эффективности
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Показатели эффективности</h1>
        {% if forms %}
            <div class="row">
                {% for form, is_can_fill, is_can_check in forms %}
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">{{ form.name }}</h5>
                                {% if is_can_fill %}
                                    <a href="{% url 'critery_category' form.id %}" class="card-link">Заполнить</a>
                                {% endif %}
                                {% if is_can_check %}
                                    <a href="{% url 'critery' %}" class="card-link">Проверить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p><i>Анкеты за активный отчетный период не найдены.</i></p>
        {% endif %}
    </div>
{% endblock %}
