{% extends 'Base_template.html' %}

{% block body %}
    <div class="container">
        <h1>Портфолио : {% if current_user.full_name is not None %}{{ current_user.full_name }}{% else %}{{ current_user.username }}{% endif %}</h1>
        <p>
            {% for label in labels %}
                {{ label }} <br/>
            {% endfor %}
        </p>

        {% if messages %}
            <ul class="messages list-group">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>
            {% if user.id == current_user.id %}
                <a href="{% url 'create_file' %}" class="btn btn-primary my-3">Добавить файл</a>
            {% endif %}
        </p>
        {% if files|length != 0 %}
            <ul>
                {% for file in files %}
                    <li>
                        <a href="#">{{ file.name }}</a>
                        {% if user.id == current_user.id %}
                            <form action="{% url 'file_delete' file.id file.user_id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <input type="submit" value='Удалить' class="btn btn-link text-danger p-0">
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Файлы не найдены</p>
        {% endif %}
    </div>
{% endblock %}