
{% extends 'Base_template.html' %}

{% block body %}


    <div class="container">
        <h1>Портфолио : {{ user.name }}</h1>
        <p>
      <!--  {%for (attribute => label in ['orcid' => 'ORCID', 'wosrid' => 'WOS Researcher ID', 'said' => 'Scopus Author ID', 'spin' => 'SPIN']  )%}
        {{ label }}: {{ user.attribute ?? 'не указано' }}.<br />
        {% endfor %} -->
        </p>

        {% if session('success') %}
            <div class="alert alert-success" role="alert">
                {{ session('success') }}
            </div>
        {% endif %}

        {% if session('error') %}
            <div class="alert alert-danger" role="alert">
                {{ session('error') }}
            </div>
        {% endif %}

        {% if ownProfile %}
            <p><a href="#" class="btn btn-primary">Добавить</a></p> <!-- {{ route('files.create') }} -->
        {% endif %}

        {%for category in fileCategories %}
            <h2>{{ category.name }}</h2>
            <!-- @php $categoryFiles = $files->where('file_category_id', $category->id) @endphp -->

            {% if categoryFiles|length != 0 %}
                <ol>
                {% for file in categoryFiles  %}
                    <li>
                        <a href="#">{{ file.name }}</a> <!-- {{ route('files.show', ['file' => $file->id]) }} -->
                        {% if ownProfile %}
                            <form method="post" class="d-inline">
                                {% csrf_token %}

                                <button class="btn btn-link text-danger p-0" style="margin-top: -2px;">&times;</button>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
                </ol>
            {% else %}
                <p>Файлы не найдены</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}