{% extends 'Base_template.html' %}

{% block body %}


    <div class="container">
        <h1>Портфолио : {{ user.full_name }}</h1>
        <p>
            {% for label in labels %}
            {{ label }} <br />
            {% endfor %}
      
        </p>

        {% if messages %}
            <ul class="messages list-group">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

       

        
            <p><a href="{% url 'create' %}" class="btn btn-primary">Добавить</a></p> 
        

        {%for category in file_categories %}
            <h2>{{ category.name }}</h2>
            <!-- @php $categoryFiles = $files->where('file_category_id', $category->id) @endphp -->

            {% if file_categories|length != 0 %}
                <ol>
                {% for file in files  %}
                    <li>
                        <a href="{% url 'show' %}">{{ file.name }}</a> 
                        {% if user.id == file.user_id %}
                            <form action="{% url 'file_delete'%}" method="post" class="d-inline">
                                {% csrf_token %}

                                <input type="submit" value = 'Удалить'class="btn btn-link text-danger p-0" style="margin-top: -2px;">
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
                </ol>
            {% else %}
                <p>Файлы не найдены</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}