{% extends 'Base_template.html' %}

{% block title %} Отчет по категории {% endblock %}



{% block body %}
    <div class="page-content container-fluid">
        <div class="panel panel-bordered">
            <div class="panel-body">
                <p>{{ form.name }}</p>
                <ul>
                {% for category in categories %}
                    <li>
                        <a href="#"><!--{{ route('forms.reportCategory', ['form' => $form, 'category' => $category]) }} -->
                            {{ category.name }}
                        </a>
                    </li>
                {%endfor%}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}