{# Этот файл не испотзуется!!! Используйтке Base_template.html #}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <!-- Scripts -->
{#    <script src="{{ asset('js/app.js') }}" defer></script>#}

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
{#    <link href="{{ asset('css/app.css') }}" rel="stylesheet">#}
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="#">ЛКП</a>
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Authentication Links -->

                        {% if user.is_authenticated %}
                            <li class="dropdown nav-item">
                                <a id="dropdownMenuLink" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ user.full_name }}

                                </a>

                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="{% url "logout_page" %}">Выйти</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"> <!-- Редактирование пользователя -->
                                            Редактировать профиль
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "login_page"%}">Вход</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main class="py-4">
            {% block content %}
        </main>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                Разработано УИ ВоГУ
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <h4>Техническая поддержка</h4>
                <p>
                    Web-интерфейс:
                    <a href="http://help.vogu35.ru">
                        help.vogu35.ru
                    </a>
                    <br>
                    E-mail:
                    <a href="mailto:sites@vogu35.ru">
                        sites@vogu35.ru
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block script %} {% endblock %}
</body>
</html>