
{% extends 'Base_template.html' %}

{% block title %}
    Домашняя страница
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Панель управления</div>



                    <div class="card-body">
                        {% if messages %}
                            <ul class="messages list-group mb-3">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if user.position_id == None %}
                            <div class="alert alert-warning">
                                Перед заполнением показателей эффективности необходимо
                                <a href="{% url "edit" %}">указать должность</a>.
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="{% url "efficiency" %}" class="btn btn-primary d-block">Показатели эффективности</a>
                            </div>
                            <div class="col-lg-6">
                                <a href="{% url "portfolio" user.id %}" class="btn btn-primary d-block">Портфолио</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}